/* Colors
logo-header-button-black #000000
logo-grey #939393
nav-headerthree-sum-grey #263238
ptext-form-grey #8F95A5
digit-grey #2A3246
month-grey #546269
 */

:root {
    --background: #FFFFFF;
    --logo-header-button-black: #000000;
    --logo-grey: #939393;
    --nav-headerthree-sum-grey: #263238;
    --ptext-form-grey: #8F95A5;
    --digit-grey: #2A3246;
    --month-grey: #546269;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
a {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 1.5;
    background-color: var(--background);
    color: var(--ptext-form-grey)
}

.container {
    width: 1368px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.footer-link .link {
    color: var(--ptext-form-grey);
}
.link-nav {
    color: var(--nav-headerthree-sum-grey);
}

ul {
    list-style-type: none;
}

/* header */
.logo {
    font-size: 36px;
    color: var(--logo-grey);
    padding-right: 236px;
    padding-top: 63px;
    margin-bottom: 63px;
}

.logo span {
    color: var(--logo-header-button-black);
}
.nav {
    font-weight: 500;
    color: var(--nav-headerthree-sum-grey);
}
.button {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--logo-header-button-black);
}

.button.button-major {
    padding: 23px 64px;
    border-radius: 10px;
    font-size: 36px;
    color: var(--background);
    background-color: var(--nav-headerthree-sum-grey);
}

.button.button-unic {
    min-width: 312px;
    height: 70px;
    margin-left: auto;
    margin-top: 55px;
    text-align: center;
    background-color: inherit;
    border: 2px solid #263238;
    border-radius: 10px;
}

.nav {
    display: flex;
    text-align: center;
} 

.nav-link {
    display: flex;
    text-align: center;
}

.link.link-nav {
    display: block;
    margin-left: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.footer-link .link {
    margin-left: 80px;
}

.link.link-nav.first-item,
.link.first-item {
    margin-left: 0;
}

.nav-link-button {
    display: flex;
}

/* hero */
.hero-header {
    width: 386px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    color: var(--logo-header-button-black);
}

.description {
    width: 540px;
    margin-bottom: 60px;
    font-size: 24px;
}

.container.hero {
    display: flex;

}

/* Skills */

.section-name {
    margin-top: 180px;
    padding-bottom: 60px;
    font-weight: 600;
    font-size: 48px;
    color: var(--logo-header-button-black);
}

.skill-name {
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    line-height: 1.5;

}

.skills-list {
    margin-bottom: 20px;
}

.skills-list-items {
    display: grid;
    grid-template-columns: 426px 426px 426px;
    grid-template-rows: 579px 338px;
    grid-gap: 30px;
    grid-template-areas:
                "speaking writing reading"
                "speaking listening listening";
    /* justify-content: flex-end;
    align-items: flex-start; */
    font-size: 30px;
    font-family: Poppins;
    line-height: 1.5;
    color: var(--nav-headerthree-sum-grey);
}

.item-skill {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 18px 32px;
}

.speaking {
    grid-area: speaking;
}

.reading {
    grid-area: reading;
}

.writing {
    grid-area: writing;
}

.listening {
    grid-area: listening;
}

.skills-description {
    font-size: 16px;
    color: #8F95A5;
    margin-bottom: 45px;
}

.learn-more {
    display: block;
    text-decoration: none;
    padding: 15px 51px;    
    width: 218px; 
    height: 60px;
    border-radius: 10px;
    background-color: #263238;
    color: rgba(255, 255, 255, 1);
    font-family: Poppins;
    font-size: 20px;
    line-height: 1.5;
}

.two-part {
    display: flex;
    align-items: flex-end;
}

/* About us */

.container.about {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.about-desc {
    margin-bottom: 30px;
    width: 652px;
    line-height: 1.8;
}
.digit {
        font-weight: 600;
        font-size: 48px;
        color: var(--digit-grey);
}

.numbers {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 652px;    
}

/* Pricing */

.pricing-name {
    text-align: center;
    margin-top:  204px;
}

.price-list-name {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.6;
    text-transform: capitalize;
    color: var(--nav-headerthree-sum-grey);
}
.sum {
    font-size: 24px;
    text-align: center;
    color: var(--nav-headerthree-sum-grey);
}

.period {
font-size: 18px;
text-align: center;
color: var(--month-grey);
}

.price-list {
    display: flex;
}

.price-item {
    width: calc((100% - 60px) / 3);
}

.price-item:not(:first-child) {
    margin-left: 30px;
}

.picture {
    margin-bottom: 50px;
}

.price-list-name {
    margin-bottom: 20px;
}

.price-desc {
    margin-bottom: 30px;
    min-height: 90px;
}

.sum-period {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 4px;
    width: 260px;
    height: 45px;
    border-radius: 5px;
    background-color: rgba(238, 238, 238, 1);
}

/* Contact us */

.contact-desc {
    width: 654px;
    margin-bottom: 30px;
}

.container.contact-us {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.btn-form {
    margin-bottom: 186px;
}


/* Footer */


.hline:after {
    width: 1368px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    content: " ";
    display: block;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.footer-link {
font-size: 24px;
letter-spacing: 0.02em;
color: var(--ptext-form-grey);
}

.container.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link {
    display: flex;
}

